<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - BiometriaDigitada</title>
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
    <!-- jquery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  </head>

    <span type="button" onclick="window.location.href = '/'" class="material-icons">arrow_back_ios</span>

  <body class="text-center">

    <!--====================================================================  FORMULARIO - AUTH 1 ====================================================================-->
    <div class='form' style="display:block;">
    <form class="form-cadastro">
      <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="400" height="400">
      <h1 class="h3 mb-3 font-weight-normal text-primary">Autenticar - 1º Etapa</h1>

      <label for="username" class="sr-only">Nome de usuario:</label>
      <input type="text" id="username" class="form-control" placeholder="username" data-toggle="tooltip" data-placement="top">

      <label for="password" class="sr-only">Senha:</label>
      <input type="text" id="password" class="form-control" placeholder="senha" required="">
      <button id="btn_cadastro" type="button" onclick="login_auth1()" class="mb-3 btn btn-lg btn-primary btn-block">Proximo</button>
      <p class="mt-5 mb-3 text-muted">Johnatan Duarte, 2021</p>
    </div>

   <!--====================================================================  FORMULARIO - AUTH 2 ====================================================================-->
    <div class='typing-form mt-5 mb-3' style="display:none;">
      <h1 class="h3 mb-3 font-weight-normal text-primary">Autenticar - 2º Etapa</h1>
      <h2>Valide seu padrão biometrico, digitando o seguinte texto:</h2>
      <div id='text_color' style="color: black; font-style: italic;">
        <h3>"com grandes poderes vem grandes responsabilidades"</h3>
      </div>
      <textarea onkeydown="keyDown();" onkeyup="keyUp();" type="text" class="form-control" id="texto_input" placeholder="Digite aqui..." cols="20" rows="3"></textarea>
      <button id="btn_cadastrar" disabled type="button" onclick="login_auth2()"  class="mb-3 btn btn-lg btn-primary btn-block">Autenticar</button>
      <h6 class="h6 mb-3 font-weight-normal text-danger">Observação</h6>
      <h6 class="font-weight-normal">Não é previsto erros de digitação, caso ocorra por gentileza, pressione F5 e tente novamente.</h6>
    </div>

    <!--==================================================================== Menssagens ====================================================================-->
    <div class='auth2_sucess_msg' style="display:none;">
      <h3>Usuario que está tentando acesso: </h3>
      <div class="auth2_user_id"></div>
      <h3>Usuario Previsto: </h3>
      <div class="auth2_predict"></div>
      <h3>accuracy: </h3>
      <div class="auth2_acc"></div>
      <h3>Algoritimo utilizado: </h3>
      <div class="auth2_alg"></div>
      <h3>Resultado da Etapa 2º: </h3>
      <div class="auth2_result"></div>
      
    </div>
    <div class='auth1_msg_notexist alert alert-warning' role="alert" style="display:none;">
      <h1>Usuario não cadastrado no sistema</h1>
    </div>
    <div class='auth1_msg_passfail alert alert-danger' role="alert" style="display:none;">
      <h1>Senha não confere, tente novamente</h1>
    </div>

    <!--==================================================================== Resultado ====================================================================-->


<!--==================================================================== SCRIPTS ====================================================================-->
<script type="text/javascript">
  var usuario_id;
  var entrada_dados;
  var digitacao_pattern = [];
  var texto_input;
  var texto_padrao = "com grandes poderes vem grandes responsabilidades"; 
  const botao_cadastro = document.getElementById("btn_cadastrar");
  const auth2_sucess_msg = document.querySelector(".auth2_sucess_msg");
  const auth1_msg_notexist = document.querySelector(".auth1_msg_notexist");
  const auth1_msg_passfail = document.querySelector(".auth1_msg_passfail");  
  const form = document.querySelector('.form');
  const typing_form = document.querySelector('.typing-form');
  const exist = document.querySelector('.user_already_exist');
  const auth2_user_id = document.querySelector('.auth2_user_id');
  const auth2_predict = document.querySelector('.auth2_predict');
  const auth2_acc = document.querySelector('.auth2_acc');
  const auth2_result = document.querySelector('.auth2_result');
  const auth2_alg = document.querySelector('.auth2_alg');

  var accuracy;
  var predict;

  function login_auth1(){  // Primeira etapa do login
      $.ajax({
          type : 'POST',
          url : window.location.href + '/auth1',
          contentType: 'application/json; charset=UTF-8',
          data : JSON.stringify({'username':username.value, 'password': password.value}),
          dataType : 'json',
			success: function(rdata){
				if(rdata['auth1_code']=='success'){
					usuario_id = rdata['id_usuario']
          auth1_msg_passfail.style.display = 'none'
          auth1_msg_notexist.style.display = 'none'
          typing_form.style.display = 'block'
				}
				else if(rdata['auth1_code']=='UsernameNotExist'){
          auth1_msg_passfail.style.display = 'none'         			
          auth1_msg_notexist.style.display = 'block'
				}
        else if(rdata['auth1_code']=='PasswordIsWrong'){
          console.log('Senha incorreta, por favor tente novamente')
          auth1_msg_notexist.style.display = 'none'
          auth1_msg_passfail.style.display = 'block'
        }
			}
		});
  }

  var ref = 0;
  var ref2 = 1;
  var biometric_data = [];
  
   function keyDown(){
    time_1 = Date.now();
    if(ref == 1){
      hold_time2 = (time_2 - time_1) / 1000;
      biometric_data.push(hold_time2);
      verificaTexto();
    }
    flightTime(time_1);
  }

  function keyUp(){
    time_2 = Date.now();
    hold_time1 = (time_1 - time_2) / 1000;
    biometric_data.push(hold_time1);
    ref = 1;
    verificaTexto();
  }

  function flightTime(time){
      if (ref2 == 1) {
        flight_time_init = time;
        ref2 = 0; 
      }
      else {
        flight_time_final = time;
        flight_time = (flight_time_init - flight_time_final) / 1000;
        ref2 = 1;
      }
  }
  
  function verificaTexto() {
        var key = event.keyCode || event.charCode;
        if( key == 8 ){
          window.location.reload(false); 
        }
        console.log(biometric_data);
        texto_input = document.getElementById("texto_input").value;
        if (texto_padrao == texto_input){
          document.getElementById("text_color").style.color="#19e030";
          botao_cadastro.disabled = false;
          console.log('digitado corretamente');
          console.log(biometric_data);
        }
        else {
          document.getElementById("text_color").style.color="#de213a";
          botao_cadastro.disabled = true;
          console.log('texto não correto')
        }
      }
  
  function login_auth2(){  // Segunda etapa na validação do usuario 
      typing_form.style.display = 'none'
      auth2_sucess_msg.style.display = 'block'
      $.ajax({
          type : 'POST',
          url : window.location.href + '/auth2',
          contentType: 'application/json; charset=UTF-8',
          data : JSON.stringify({'typing_data':biometric_data, 'user_id': usuario_id}),
          dataType : 'json',
			success: function(rdata){
				  predict = rdata['predict']
          accuracy = rdata['accuracy']
          result = rdata['result']
          user_id = rdata['user_id']
          typing_form.style.display = 'none'
          form.style.display = 'none'

          auth2_user_id.innerHTML = rdata['user_id'];
          auth2_predict.innerHTML = rdata['predict'];
          auth2_acc.innerHTML = rdata['accuracy'];
          auth2_result.innerHTML = rdata['result'];
          auth2_alg.innerHTML = rdata['algoritimo'];
			}
		});
    }
    
</script>
</body>
</html>
